<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.AdminMapper">
    <resultMap id="BaseResultMap" type="com.example.demo.bean.Admin">
        <id column="aid" jdbcType="INTEGER" property="aid"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="pwd" jdbcType="VARCHAR" property="pwd"/>
        <result column="role" jdbcType="VARCHAR" property="role"/>
    </resultMap>
    <sql id="Base_Column_List">
        aid, name, pwd, role
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from adminn
        where aid = #{aid,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete
        from adminn
        where aid = #{aid,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.example.demo.bean.Admin">
        insert into adminn (aid, name, pwd, role)
        values (#{aid,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{pwd,jdbcType=VARCHAR}, #{role,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.example.demo.bean.Admin">
        insert into admin
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="aid != null">
                aid,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="pwd != null">
                pwd,
            </if>
            <if test="role != null">
                role,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="aid != null">
                #{aid,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="pwd != null">
                #{pwd,jdbcType=VARCHAR},
            </if>
            <if test="role != null">
                #{role,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <select id="login" resultType="com.example.demo.bean.Admin">
        select
        <include refid="Base_Column_List"/>
        from adminn
        where name = #{name,jdbcType=VARCHAR} AND pwd = #{pwd,jdbcType=VARCHAR}
    </select>
    <update id="updateByPrimaryKeySelective" parameterType="com.example.demo.bean.Admin">
        update adminn
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="pwd != null">
                pwd = #{pwd,jdbcType=VARCHAR},
            </if>
            <if test="role != null">
                role = #{role,jdbcType=VARCHAR},
            </if>
        </set>
        where aid = #{aid,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.example.demo.bean.Admin">
        update adminn
        set name = #{name,jdbcType=VARCHAR},
            pwd  = #{pwd,jdbcType=VARCHAR},
            role = #{role,jdbcType=VARCHAR}
        where aid = #{aid,jdbcType=INTEGER}
    </update>
</mapper>