<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.StudentSeatMapper">
    <resultMap id="BaseResultMap" type="com.example.demo.bean.StudentSeat">
        <id column="s_tid" jdbcType="INTEGER" property="stid"/>
        <result column="sid" jdbcType="VARCHAR" property="sid"/>
        <result column="tid" jdbcType="INTEGER" property="tid"/>
        <result column="begin_time" jdbcType="TIMESTAMP" property="startDatetime"/>
        <result column="end_time" jdbcType="TIMESTAMP" property="endDatetime"/>
        <result column="statuss" jdbcType="INTEGER" property="statuss"/>
        <result column="res" jdbcType="BIT" property="res"/>
    </resultMap>

    <sql id="Base_Column_List">
        s_tid, sid, tid, begin_time, end_time, statuss, res
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from student_seat
        where s_tid = #{stid,jdbcType=INTEGER}
    </select>
    <select id="selectHistoryBySid" resultType="com.example.demo.bean.StudentSeat" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from student_seat
        where sid = #{sid,jdbcType=VARCHAR}
    </select>
    <select id="selectBySidTid" resultType="com.example.demo.bean.StudentSeat" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from student_seat
        where sid = #{sid,jdbcType=VARCHAR} AND tid = #{tid,jdbcType=INTEGER}
        AND begin_time &lt;= #{now}
        AND end_time &gt;= #{now}
        AND res IS NULL
    </select>
    <select id="getEndTime" resultType="java.time.LocalDateTime" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        FROM student_seat
        WHERE sid = #{sid,jdbcType=VARCHAR}
        AND tid = #{tid,jdbcType=INTEGER}
        AND res IS NOT NULL
        AND end_time = (select MAX(end_time) FROM student_seat
        WHERE sid = #{sid,jdbcType=VARCHAR}
        AND tid = #{tid,jdbcType=INTEGER}
        AND res IS NOT NULL)
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete
        from student_seat
        where s_tid = #{stid,jdbcType=INTEGER}
    </delete>

    <insert id="insert" parameterType="com.example.demo.bean.StudentSeat">
        insert into student_seat (s_tid, sid, tid, begin_time, end_time, statuss, res)
        values (#{stid,jdbcType=INTEGER},
                #{sid,jdbcType=VARCHAR},
                #{tid,jdbcType=INTEGER},
                #{startDatetime,jdbcType=TIMESTAMP},
                #{endDatetime,jdbcType=TIMESTAMP},
                #{statuss,jdbcType=INTEGER},
                #{res,jdbcType=BIT})
    </insert>
    <insert id="insertSelective" parameterType="com.example.demo.bean.StudentSeat">
        insert into student_seat
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="stid != null">
                s_tid,
            </if>
            <if test="sid != null">
                sid,
            </if>
            <if test="tid != null">
                tid,
            </if>
            <if test="startDatetime != null">
                begin_time,
            </if>
            <if test="endDatetime != null">
                end_time,
            </if>
            <if test="statuss != null">
                statuss,
            </if>
            <if test="res != null">
                res,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="stid != null">
                #{stid,jdbcType=INTEGER},
            </if>
            <if test="sid != null">
                #{sid,jdbcType=VARCHAR},
            </if>
            <if test="tid != null">
                #{tid,jdbcType=INTEGER},
            </if>
            <if test="startDatetime != null">
                #{startDatetime,jdbcType=TIMESTAMP},
            </if>
            <if test="endDatetime != null">
                #{endDatetime,jdbcType=TIMESTAMP},
            </if>
            <if test="statuss != null">
                #{statuss,jdbcType=INTEGER},
            </if>
            <if test="res != null">
                #{res,jdbcType=BIT},
            </if>
        </trim>
    </insert>


    <update id="updateByPrimaryKeySelective" parameterType="com.example.demo.bean.StudentSeat">
        update student_seat
        <set>
            <if test="sid != null">
                sid = #{sid,jdbcType=VARCHAR},
            </if>
            <if test="tid != null">
                tid = #{tid,jdbcType=INTEGER},
            </if>
            <if test="startDatetime != null">
                begin_time = #{startDatetime,jdbcType=TIMESTAMP},
            </if>
            <if test="endDatetime != null">
                end_time = #{endDatetime,jdbcType=TIMESTAMP},
            </if>
            <if test="statuss != null">
                statuss = #{statuss,jdbcType=INTEGER},
            </if>
            <if test="res != null">
                res = #{res,jdbcType=BIT},
            </if>
        </set>
        where s_tid = #{stid,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.example.demo.bean.StudentSeat">
        update student_seat
        set sid        = #{sid,jdbcType=VARCHAR},
            tid        = #{tid,jdbcType=INTEGER},
            begin_time = #{startDatetime,jdbcType=TIMESTAMP},
            end_time   = #{endDatetime,jdbcType=TIMESTAMP},
            statuss    = #{statuss,jdbcType=INTEGER},
            res        = #{res,jdbcType=BIT}
        where s_tid = #{stid,jdbcType=INTEGER}
    </update>
</mapper>